* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    width: 90%;
    margin: 0 auto;
}

h1 {
    margin: 1rem 0;
    text-align: center;
}

.lp_container {
    margin: 1rem 0;
    padding: 0.5rem;
    border: 2px solid;
}

.lp_container input[name=player_name] {
    font-weight: bold;
}

.lp_container.a input[name=player_name] {
    color: dodgerblue;
}
.lp_container.b input[name=player_name] {
    color: crimson;
}

.result {
    font-size: 24pt;
    margin: 0.5rem 0;
    text-align: center;
    color: brown;
}

.options {
    text-align: center;
}


input, select {
    padding: 0.5rem;
    font-size: 14pt;
    text-align: center;
}
input {
    max-width: 31.5%;
}

button {
    padding: 0.5rem 1rem;
}

.btn {
    width: 38px;
    height: 38px;
    vertical-align: middle;
    font-weight: bold;
    background-color: #fafbfc;
    border: 1px solid rgba(27,31,35,.15);
    border-radius: 6px;
    box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
    cursor: pointer;
    transition: background-color .2s cubic-bezier(.3,0,.5,1);
}

[data-operation=subtract] {
    background-color: #dc3545;
    color: white;
}

[data-operation=sum] {
    background-color: #28a745;
    color: white;
}

@media (min-width: 640px) {
    body {
        width: 80%;
    }
}

@media (min-width: 820px) {
    body {
        width: 90%;
    }
    .container {
        display: flex;
        justify-content: space-around;
    }
    .lp_container {
        margin-right: 1rem;
        flex-grow: 1; /* Can grow if there is available space */
        flex-shrink: 0;  /* Cannot shrink less than it's minimum width */
        flex-basis: 360px;  /* Minimum width, in this case */
    }
}