html {
    font: 14pt 'Nunito', sans-serif;
    background: #333;
    color: #f5f5f5;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(162, 205, 255);
    /* color: rgb(141, 185, 235); */
}